{% extends 'base.html' %}
{% load static %}
{% block content %}

		<div id="body">
			<div class="header">
				<div>
					<h1>Single Post</h1>
					<div class="article">
						<img src="{{blog.image.url}}" style="width: 35rem; height: 16rem;">
						<h1>{{blog.title}}</h1>
						<span>{{blog.date_posted | date:'F d, Y'}}</span>
						<p>{{blog.text}}.</p>
					</div>
					<div class="sidebar">
						<ul>
							<li>
								<h1>FEATURED POSTS</h1>
								<a href="{% url 'blog' %}"><img src="{% static 'images/moon-satellite.jpg' %}" alt=""></a>
								<h2>SOYUZ TMA-M</h2>
								<span>FEBRUARY 6, 2023</span>
							</li>
							<li>
								<h1>RECENT POSTS</h1>

								{% for alone in alones %}
									<ul>
										<li>
											<a href="{% url 'blog' %}"><img src="{{alone.image.url}}" height="45rem" alt=""></a>
											<h2>{{alone.title}}</h2>
											<span>{{alone.date_posted | date:'F d, Y'}}</span>
										</li>
									</ul>
								{% endfor %}
								
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		
{% endblock content %}
